:root {
  --primary-font: "Jost", sans-serif;
  --roja-color: rgb(143, 190, 38);
  --about-color: rgb(5, 82, 231);
  --contact-color: rgb(242, 53, 87);
  --work-color: rgb(118, 5, 231);
  --cat-color: rgb(231, 100, 5);
}
body {
  font-family: var(--primary-font);
  color: #353535;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  color: #353535;
}
.nav-container {
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 0;
  width: 100%;
  height: 5vh;
  z-index: 100;
}
.nav {
  display: flex;
  justify-content: space-evenly;
  padding-top: 9px;
}
.active {
  display: block !important;
  opacity: 60% !important;
}
.menu-item {
  font-size: 16px;
  font-weight: 900;
}
.color-roja {
  color: var(--roja-color);
}
.color-about {
  color: var(--about-color);
}
.color-work {
  color: var(--work-color);
}
.color-cats {
  color: var(--cat-color);
}
.color-contact {
  color: var(--contact-color);
}
.page {
  margin-top: 100px;
}
.page-top {
  display: flex;
  flex-direction: row;
  height: 16vh;
  justify-content: center;
}
.page-top p {
  font-weight: 700;
  font-size: 48px;
}
.page-top h2 {
  font-size: 64px;
}
.content-tile {
  position: relative;
  top: -63px;
}
.content-container {
  text-align: center;
  padding: 70px 200px;
  font-size: 20px;
}
#roja .content-tile {
  background-color: rgba(143, 190, 38, 0.3);
}
#about .content-tile {
  background-color: rgba(5, 82, 231, 0.2);
}
#work .content-tile {
  background-color: rgba(118, 5, 231, 0.2);
}
#lechats .content-tile {
  background-color: rgba(231, 100, 5, 0.2);
}
#contact .content-tile {
  background-color: rgba(242, 53, 87, 0.2);
}
.container {
  margin-top: 10px;
}
.container .active {
  opacity: 1 !important;
}
#roja .content {
  font-size: larger;
}
#about .page-top {
  margin-top: 150px;
}
#work img {
  max-width: 70%;
}
#work .content {
  padding-top: 50px;
}
#lechats .content {
  padding-top: 150px;
}
#contact .content-tile {
  margin-bottom: 100px;
}
.btn {
  font-family: var(--primary-font);
  border: solid;
  transition: all 200ms ease-in-out;
}
.btn:hover {
  color: white;
}
#work .btn:hover {
  background-color: var(--work-color);
}
#lechats .btn:hover {
  background-color: var(--cat-color);
}
.footer-item {
  display: none;
  border-radius: 90px 90px 0px 0px;
  width: 30%;
  height: 5vh;
  margin: 0 auto;
  padding-top: 5px;
  transition: all 200ms ease-in-out;
}
.contact-text {
  display: flex;
}
.footer-item:hover {
  color: white;
  opacity: 1;
}
.footer-roja {
  background-color: var(--about-color);
  color: white;
}
.footer-about {
  background-color: var(--work-color);
  color: white;
}
.footer-work {
  background-color: var(--cat-color);
  color: white;
}
.footer-cats {
  background-color: var(--contact-color);
  color: white;
}
.footer-contact {
  background-color: var(--roja-color);
  color: white;
  border-radius: 90px 90px 0px 0px;
}
.footer-contact .active {
  opacity: 1 !important;
}
@media (max-width: 500px) {
  .page {
    margin-top: 60px;
  }
  .page-top {
    height: 16vh;
  }
  .page-top p {
    font-weight: 700;
    font-size: 28px;
  }
  .page-top h2 {
    font-size: 48px;
  }
  .content-container {
    padding: 30px 20px;
    font-size: 14px;
  }
  img {
    width: 60%;
    padding-bottom: 20px;
  }
}
@media (max-width: 800px) {
  .content-container {
    padding: 70px 70px;
  }
  #work .content-container {
    padding: 50px 70px;
  }
  #work .content {
    padding-top: 0;
  }
  #lechats .content {
    padding-top: 0;
  }
  #about .page-top {
    margin-top: unset;
  }
  #roja .page {
    margin-top: 100px;
  }
  .page {
    margin-top: 50px;
  }
}
@media (max-width: 380px) {
  .content-container {
    padding: 45px 7px;
  }
  .page {
    margin-top: 0;
  }
  #roja .page {
    margin-top: 70px;
  }
  #work .content-container {
    padding: 10px 7px;
  }
  .content {
    padding-bottom: 20px;
  }
  .footer-contact a {
    width: 100%;
    font-size: 14px;
  }
}
